@import 'master/reset';

html, body
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.game
{
    position: absolute;
    width: 177.77vh;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
}

canvas.stage
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui
{
    position: fixed;
    z-index: 10;
}

.shade
{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0;
}
