@import 'master/reset';

html, body
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.game
{
    position: absolute;
    width: 177.77vh;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 177.77vh) {
    .game {
        width: 100vw;
        height: 56.25vw;
    }
}

canvas.stage
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui
{
    position: fixed;
    z-index: 10;
}

.shade
{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0;
}
